In [1]:
##Dataset url: https://grouplens.org/datasets/movielens/latest/
#!pip install pandas
import pandas as pd
import numpy as np

In [2]:
movies_df=pd.read_csv('movies.csv',usecols=['movieId','title'],dtype={'movieId': 'int32', 'title': 'str'})
ratings_df=pd.read_csv('ratings.csv',usecols=['userId', 'movieId', 'rating'],
    dtype={'userId': 'int32', 'movieId': 'int32', 'rating': 'float32'})

In [3]:
movies_df.head()
ratings_df.head()

   userId  movieId  rating
0       1        1     4.0
1       1        3     4.0
2       1        6     4.0
3       1       47     5.0
4       1       50     5.0

In [4]:
movies_df.head()

   movieId                               title
0        1                    Toy Story (1995)
1        2                      Jumanji (1995)
2        3             Grumpier Old Men (1995)
3        4            Waiting to Exhale (1995)
4        5  Father of the Bride Part II (1995)

In [ ]:
#ratings_df.rename(columns={'movieId':'ID'})

In [ ]:
#movies_df.rename(columns={'movieID':'ID'})

In [5]:
movies_df=pd.merge(movies_df,ratings_df,on='movieId')

In [9]:
movies_df.head(2)

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0

In [6]:
#removie nan values
df=movies_df.dropna(axis=0,subset=['title'])

In [11]:
df.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [7]:
df.isnull().values.any()

False

In [8]:
#count total ratings on a single movie
total_movie_count=df.groupby(by=['title'])['rating'].count().reset_index().rename(columns={'rating':'total_ratings_count'})

In [9]:
total_movie_count.head()

                                     title  total_ratings_count
0                               '71 (2014)                    1
1  'Hellboy': The Seeds of Creation (2004)                    1
2                   'Round Midnight (1986)                    2
3                      'Salem's Lot (2004)                    1
4                'Til There Was You (1997)                    2

In [18]:
df.head()

   movieId             title  userId  rating
0        1  Toy Story (1995)       1     4.0
1        1  Toy Story (1995)       5     4.0
2        1  Toy Story (1995)       7     4.5
3        1  Toy Story (1995)      15     2.5
4        1  Toy Story (1995)      17     4.5

In [10]:
combining_df=df.merge(total_movie_count,on='title')

In [15]:
combining_df.tail(20)

,movieId,title,userId,rating,total_ratings_count
100816,189547,Iron Soldier (2010),210,1.0,1
100817,189713,BlacKkKlansman (2018),462,2.5,1
100818,190183,The Darkest Minds (2018),50,3.5,1
100819,190207,Tilt (2011),338,1.5,1
100820,190209,Jeff Ross Roasts the Border (2017),338,4.0,1
100821,190213,John From (2015),338,1.0,1
100822,190215,Liquid Truth (2017),338,1.5,1
100823,190219,Bunny (1998),338,1.0,1
100824,190221,Hommage à Zgougou (et salut à Sabine Mamou) (2...,338,1.0,1
100825,191005,Gintama (2017),184,4.5,1
100826,193565,Gintama: The Movie (2010),184,3.5,1
100827,193567,anohana: The Flower We Saw That Day - The Movi...,184,3.0,1
100828,193571,Silver Spoon (2014),184,4.0,1
100829,193573,Love Live! The School Idol Movie (2015),184,4.0,1
100830,193579,Jon Stewart Has Left the Building (2015),184,3.5,1
100831,193581,Black Butler: Book of the Atlantic (2017),184,4.0,1
100832,193583,No Game No Life: Zero (2017),184,3.5,1
100833,193585,Flint (2017),184,3.5,1
100834,193587,Bungo Stray Dogs: Dead Apple (2018),184,3.5,1
100835,193609,Andrew Dice Clay: Dice Rules (1991),331,4.0,1

In [13]:
combining_df.shape

(100836, 5)

In [11]:
print(total_movie_count['total_ratings_count'].describe())
#histogram

count    9719.000000
mean       10.375141
std        22.406220
min         1.000000
25%         1.000000
50%         3.000000
75%         9.000000
max       329.000000
Name: total_ratings_count, dtype: float64

In [12]:
popularity_threshold = 50
rating_popular_movie= combining_df.query('total_ratings_count >= @popularity_threshold')
rating_popular_movie.tail()

       movieId            title  userId  rating  total_ratings_count
98313   122904  Deadpool (2016)     561     2.0                   54
98314   122904  Deadpool (2016)     586     4.0                   54
98315   122904  Deadpool (2016)     596     4.0                   54
98316   122904  Deadpool (2016)     599     3.5                   54
98317   122904  Deadpool (2016)     610     3.0                   54

In [14]:
rating_popular_movie.shape

(41362, 5)

In [16]:
rating_popular_movie.isnull().values.any()

False

#getting into the real project

In [17]:
movie_features_df=rating_popular_movie.pivot_table(index='title',columns='userId',values='rating').fillna(0)
movie_features_df.head()

userId,1,2,3,4,5,6,7,8,9,10,...,601,602,603,604,605,606,607,608,609,610
title,,,,,,,,,,,,,,,,,,,,,
10 Things I Hate About You (1999),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,3.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0
12 Angry Men (1957),0.0,0.0,0.0,5.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2001: A Space Odyssey (1968),0.0,0.0,0.0,0.0,0.0,0.0,4.0,0.0,0.0,0.0,...,0.0,0.0,5.0,0.0,0.0,5.0,0.0,3.0,0.0,4.5
28 Days Later (2002),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.5,0.0,5.0
300 (2007),0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,3.0,...,0.0,0.0,0.0,0.0,3.0,0.0,0.0,5.0,0.0,4.0

In [20]:
#to convert dataframes into matrices
#not required
!pip install scipy
from scipy.sparse import csr_matrix
movie_matrix=csr_matrix(movie_features_df.values)

Requirement already satisfied: scipy in /srv/conda/envs/notebook/lib/python3.7/site-packages (1.7.3)
Requirement already satisfied: numpy<1.23.0,>=1.16.5 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scipy) (1.21.4)

In [25]:
movie_matrix

<450x606 sparse matrix of type '<class 'numpy.float32'>'
	with 41360 stored elements in Compressed Sparse Row format>

-->here there are 450 unique movies and 606 user id

In [32]:
#not required

row = movie_matrix.getrow(1).toarray()[0]
#top_ten_indicies = row.argsort()[-10:]
#top_ten_values = row[row.argsort()[-10:]]
row

array([0. , 0. , 0. , 5. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 4. , 0. , 5. , 0. , 0. , 0. , 0. , 3. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 2.5, 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 3. , 0. , 5. , 4. , 5. , 0. , 4.5,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 4.5,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 5. , 0. , 4.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 5. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 5. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 4.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 4. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 4.5, 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 5. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 3.5, 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 4.5, 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 5. , 0. , 0. , 0.5, 5. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 4. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. ,
       5. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 5. , 4. , 0. ,
       0. , 0. , 4.5, 0. , 5. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 5. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 1. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 4.5, 0. , 0. , 0. ,
       0. , 4. , 4.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 4. , 0. , 0. , 4. , 0. , 0. , 5. , 0. , 0. , 5. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 4. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 3.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       0. , 0. , 0. , 0. , 4.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       4. , 0. , 0. , 0.5, 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ,
       5. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. , 5. , 0. ,
       0. , 0. , 0. , 0. , 0. , 0. , 0. , 0. ], dtype=float32)

In [35]:
!pip install sklearn
from sklearn.neighbors import NearestNeighbors


model_knn = NearestNeighbors(metric = 'cosine', algorithm = 'brute')
model_knn.fit(movie_matrix)

Collecting sklearn
  Downloading sklearn-0.0.tar.gz (1.1 kB)
  Preparing metadata (setup.py) ... done
Collecting scikit-learn
  Downloading scikit_learn-1.0.2-cp37-cp37m-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (24.8 MB)
     |████████████████████████████████| 24.8 MB 4.8 MB/s
Requirement already satisfied: numpy>=1.14.6 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.21.4)
Collecting joblib>=0.11
  Downloading joblib-1.1.0-py2.py3-none-any.whl (306 kB)
     |████████████████████████████████| 306 kB 75.9 MB/s
Collecting threadpoolctl>=2.0.0
  Downloading threadpoolctl-3.1.0-py3-none-any.whl (14 kB)
Requirement already satisfied: scipy>=1.1.0 in /srv/conda/envs/notebook/lib/python3.7/site-packages (from scikit-learn->sklearn) (1.7.3)
Building wheels for collected packages: sklearn
  Building wheel for sklearn (setup.py) ... done
  Created wheel for sklearn: filename=sklearn-0.0-py2.py3-none-any.whl size=1309 sha256=388f04d4597c2cbe4a0beac9cf15259e5ee685b1f1bfe804f3514521bc0cdc92
  Stored in directory: /home/jovyan/.cache/pip/wheels/46/ef/c3/157e41f5ee1372d1be90b09f74f82b10e391eaacca8f22d33e
Successfully built sklearn
Installing collected packages: threadpoolctl, joblib, scikit-learn, sklearn
Successfully installed joblib-1.1.0 scikit-learn-1.0.2 sklearn-0.0 threadpoolctl-3.1.0

NearestNeighbors(algorithm='brute', metric='cosine')

In [48]:
query_index = np.random.choice(movie_features_df.shape[0])
print(query_index)
distances, indices = model_knn.kneighbors(movie_features_df.iloc[query_index,:].values.reshape(1, -1), n_neighbors = 6)

40

In [46]:
anumber=30
distances, indices = model_knn.kneighbors(movie_features_df.iloc[anumber,:].values.reshape(1, -1), n_neighbors = 6)

In [37]:
distances

array([[4.7683716e-07, 4.5845050e-01, 4.6465796e-01, 4.8241943e-01,
        4.9464011e-01, 5.0247782e-01]], dtype=float32)

In [38]:
indices

array([[ 30, 268, 358, 338,  21, 381]])

In [56]:
distances.flatten()
#flatten converts multidimensional array to a laternal or single dimnesional view

array([2.3841858e-07, 2.2368187e-01, 3.4343678e-01, 3.8028598e-01,
       4.2795885e-01, 4.5466274e-01], dtype=float32)

In [55]:
movie_features_df.index[indices.flatten()[1]]

'Back to the Future Part III (1990)'

In [49]:
for i in range(0, len(distances.flatten())):
    if i == 0:
        print('Recommendations for {0}:\n'.format(movie_features_df.index[query_index]))
    else:
        print('{0}: {1}, with distance of {2}:'.format(i, movie_features_df.index[indices.flatten()[i]], distances.flatten()[i]))

Recommendations for Back to the Future Part II (1989):

1: Back to the Future Part III (1990), with distance of 0.22368186712265015:
2: Back to the Future (1985), with distance of 0.3434367775917053:
3: Indiana Jones and the Temple of Doom (1984), with distance of 0.38028597831726074:
4: Ghostbusters (a.k.a. Ghost Busters) (1984), with distance of 0.4279588460922241:
5: Minority Report (2002), with distance of 0.4546627402305603:

#top five recommendation of movies and ratings dataset is done